[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
djangorestframework = "*"
gunicorn = "*"
django-googledrive-storage = "*"
pillow = "*"
djangorestframework-simplejwt = "==4.8.0"
drf-spectacular = {extras = ["sidecar"], version = "*"}
pyjwt = "==2.1.0"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
